<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<!-- Basic -->

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>레시피 목록</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

  <th:block layout:fragment="css">
    <!-- CSS here -->
    <link rel="stylesheet" href="/recipe/css/bootstrap.min.css">
    <link rel="stylesheet" href="/recipe/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/recipe/css/magnific-popup.css">
    <link rel="stylesheet" href="/recipe/css/font-awesome.min.css">
    <link rel="stylesheet" href="/recipe/css/themify-icons.css">
    <link rel="stylesheet" href="/recipe/css/nice-select.css">
    <link rel="stylesheet" href="/recipe/css/flaticon.css">
    <link rel="stylesheet" href="/recipe/css/gijgo.css">
    <link rel="stylesheet" href="/recipe/css/animate.min.css">
    <link rel="stylesheet" href="/recipe/css/slick.css">
    <link rel="stylesheet" href="/recipe/css/slicknav.css">
    <link rel="stylesheet" href="/recipe/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </th:block>
    
</head>

<body>
    <th:block layout:fragment="content">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- Start Main Top -->
  
    <!-- recepie_area_start  -->
    <div class="recepie_area plus_padding">
    <hr>
     <div style="text-align: center;">
     <a th:href="@{/recipeList}">전체</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/recipeListKind(kind=한식)}">한식</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/recipeListKind(kind=양식)}">양식</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/recipeListKind(kind=디저트)}">디저트</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/recipeListDESC}">최신순</a> / <a th:href="@{/recipeListGood}">인기순</a>
     </div>
    
     <hr>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6" th:each="recipe, state : ${recipe}">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb"><img th:src="@{/image/}+ ${recipe.filename}"></div>
                        <h3 th:text="${recipe.recipe_name}"></h3><br>
                         <i class="fa fa-user-o" style="color: #b0b435;"></i>&nbsp;&nbsp;<p th:text="${recipe.amount}"></p><p>인분</p><br>
                         <i class="fa-solid fa-seedling" style="color: #b0b435;"></i>&nbsp;&nbsp;<p>난이도 :</p>&nbsp;&nbsp;<p th:text="${recipe.degree}"></p><br>
                        <i class="fa fa-clock-o" style="color: #b0b435;"></i>&nbsp;&nbsp;<p>소요시간 :</p>&nbsp;&nbsp;<p th:text="${recipe.cooking_time}"></p><p>분</p><br>
                        
                        <a th:href="@{/getRecipe(recipe_seq=${recipe.recipe_seq})}" class="line_btn">보러가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /recepie_area_start  -->

	<!-- 페이징 처리 -->
           <div th:if="${!recipe.isEmpty()}">
             <ul class="pagination justify-content-center">
               <li class="page-item" th:classappend="${!recipe.hasPrevious()} ? 'disabled'">
                 <a class="page-link" th:href="@{|?page=${recipe.number}|}">
                   <span>이전</span>
                 </a>
               </li>
               <li th:each="page: ${#numbers.sequence(1, recipe.getTotalPages())}"
                   th:if="${page >= recipe.number-4 and page <= recipe.number+6}"
                   th:classappend="${page == recipe.number+1} ? 'active'"
                   class="page-item">
                 <a th:text="${page}" class="page-link" th:href="@{/recipeListDESC(page=${page})}"></a>
               </li>

               <li class="page-item" th:classappend="${!recipe.hasNext()} ? 'disabled'">
                 <a class="page-link" th:href="@{|?page=${recipe.number+2}|}">
                   <span>다음</span>
                 </a>
               </li>
             </ul>
             <br><br>
           </div>
             <!-- 페이징 처리 -->
   
   </th:block>
</body>
 <!-- JS here -->
     <th:block layout:fragment="script">
    <script src="/recipe/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/recipe/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/recipe/js/popper.min.js"></script>
    <script src="/recipe/js/bootstrap.min.js"></script>
    <script src="/recipe/js/owl.carousel.min.js"></script>
    <script src="/recipe/js/isotope.pkgd.min.js"></script>
    <script src="/recipe/js/ajax-form.js"></script>
    <script src="/recipe/js/waypoints.min.js"></script>
    <script src="/recipe/js/jquery.counterup.min.js"></script>
    <script src="/recipe/js/imagesloaded.pkgd.min.js"></script>
    <script src="/recipe/js/scrollIt.js"></script>
    <script src="/recipe/js/jquery.scrollUp.min.js"></script>
    <script src="/recipe/js/wow.min.js"></script>
    <script src="/recipe/js/nice-select.min.js"></script>
    <script src="/recipe/js/jquery.slicknav.min.js"></script>
    <script src="/recipe/js/jquery.magnific-popup.min.js"></script>
    <script src="/recipe/js/plugins.js"></script>
    <script src="/recipe/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/recipe/js/contact.js"></script>
    <script src="/recipe/js/jquery.ajaxchimp.min.js"></script>
    <script src="/recipe/js/jquery.form.js"></script>
    <script src="/recipe/js/jquery.validate.min.js"></script>
    <script src="/recipe/js/mail-script.js"></script>

    <script src="/recipe/js/main.js"></script>
    <script src="https://kit.fontawesome.com/f9c1d37a26.js" crossorigin="anonymous"></script>
</html>