<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<head>
    <meta charset="UTF-8">
</head>
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>INFO</h4><br>
                            <p>사업자등록번호 : 111-11-11111</p><br>
                            <p>상호 : 레시푸드</p><br>
                            <p>대표자명 : 김하영 / 차유경</p>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                            <h4>CUSTOMER CENTER</h4><br>
                            <p>월 - 금: 10:00 - 18:00</p><br>
                            <p>토 / 일 / 공휴일 OFF</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>CONTACT US</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>주소 : 서울 종로구 효자로 12, 1층 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>전화번호 : 02-1111-2222</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>이메일 : recifood@recifood.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <center><p class="footer-company">Copyright(c) 2023 Recifood. All Rights Reserved.</p></center>
    </div>
    <!-- End copyright  -->
    <!-- ALL JS FILES -->
    <script src="main/js/jquery-3.2.1.min.js"></script>
    <script src="main/js/popper.min.js"></script>
    <script src="main/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="main/js/jquery.superslides.min.js"></script>
    <script src="main/js/bootstrap-select.js"></script>
    <script src="main/js/inewsticker.js"></script>
    <script src="main/js/bootsnav.js."></script>
    <script src="main/js/images-loded.min.js"></script>
    <script src="main/js/isotope.min.js"></script>
    <script src="main/js/owl.carousel.min.js"></script>
    <script src="main/js/baguetteBox.min.js"></script>
    <script src="main/js/form-validator.min.js"></script>
    <script src="main/js/contact-form-script.js"></script>
    <script src="main/js/custom.js"></script>
</th:block>
</html>
</html>